<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col
            m8 offset-m2
            s10 offset-s1">
            <div class="card-panel">
              <div class="row">
                <h3>JOIN US</h3>
                <form id="join-form">
                  <div class="input-field col s12">
                    <input id="name" type="text" v-model="name.data" @focusout="validate('name')">
                    <label for="name" required>Name</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="department" type="text" v-model="department.data" @focusout="validate('department')">
                    <label for="department">Department</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="stu_number" type="text" v-model="stu_number.data" @focusout="validate('stu_number')">
                    <label for="stu_number">Student Number</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="phone" type="tel" v-model="phone.data" @focusout="validate('phone')">
                    <label for="phone">Phone</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="email" type="email" v-model="email.data" @focusout="validate('email')">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s12">
                    <label class="active">Team</label>
                    <div class="row">
                      <div class="col s4">
                        <input name="team" type="radio" id="devOps" v-model="team.data" value="devOps"/>
                        <label for="devOps">DevOps Team</label>
                      </div>
                      <div class="col s4">
                        <input name="team" type="radio" id="organizer" v-model="team.data" value="organizer"/>
                        <label for="organizer">Organizer Team</label>
                      </div>
                      <div class="col s4">
                        <input name="team" type="radio" id="publicity" v-model="team.data" value="publicity"/>
                        <label for="publicity">Publicity Team</label>
                      </div>
                      <div class="col s4">
                        <input name="team" type="radio" id="jiangyou" v-model="team.data" value="jiangyou"/>
                        <label for="jiangyou">Member Team</label>
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <label class="active">Gender</label>
                    <div class="row">
                      <div class="col s4">
                        <input name="gender" type="radio" id="female" v-model="gender.data" value="female"/>
                        <label for="female">Female</label>
                      </div>
                      <div class="col s4">
                        <input name="gender" type="radio" id="male"  v-model="gender.data" value="male"/>
                        <label for="male">Male</label>
                      </div>
                    </div>
                  </div>
                  <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" @click.prevent="submit">
                      <i class="material-icons right">send</i>
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 清华大学技术宅网络与开源软件协会 Tsinghua University TUNA Association
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- google's libphonenumber -->
    <!-- comment out following disable phone number validator-->
    <script src="https://cdn.rawgit.com/jackocnr/intl-tel-input/master/build/js/utils.js"></script>
    <!-- validate.js for email -->
    <!-- comment out following disable email validator -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.11.1/validate.min.js"></script>
    <script>
      "use strict";
      function inputObject() {
        return {
          data: '',
          error: '',
        };
      }
      var form = new Vue({
        el: '#join-form',
        data: {
          name: inputObject(),
          department: inputObject(),
          stu_number: inputObject(),
          phone: inputObject(),
          email: inputObject(),
          gender: inputObject(),
          team: inputObject(),
        },
        methods: {
          submit: function() {
            console.log(this.$data);
          },
          validate: function(fieldName) {
            // validate given field `fieldName`.
            // if argument is omitted, all field will be checked.
            var hasError = false;
            if (!fieldName || fieldName === 'name') {
              if (!this.name.data) {
                this.name.error = 'name is missing';
                hasError = true;
              } else if (this.name.data.length > 32) {
                this.name.error = 'name is too long';
                hasError = true;
              } else {
                this.name.error = '';
              }
            }
            if (!fieldName || fieldName === 'department') {
              if (this.department.data.length > 128) {
                this.department.error = 'name of department is too long';
                hasError = true;
              } else {
                this.department.error = '';
              }
            }
            if (!fieldName || fieldName === 'stu_number') {
              if (this.stu_number.data.length > 16) {
                this.stu_number.error = 'student number is too long';
                hasError = true;
              } else {
                this.stu_number.error = '';
              }
            }
            if (!fieldName || fieldName === 'phone') {
              if (this.phone.data && intlTelInputUtils && intlTelInputUtils.isValidNumber) {
                if (intlTelInputUtils.isValidNumber(this.phone.data, 'CN')) {
                  this.phone.error = '';
                } else {
                  this.phone.error = 'invalid phone number';
                  hasError = true;
                }
              } else {
                this.phone.error = '';
              }
            }
            if (!fieldName || fieldName === 'email') {
              if (this.email.data && validate) {
                if (validate(this.email, {data: {email: true}})) {
                  // Not valid
                  this.email.error = 'invalid email address';
                  hasError = true;
                } else {
                  this.email.error = '';
                }
              } else {
                this.email.error = '';
              }
            }
          },
        }
      });
    </script>

    <!-- NOTE: jquery before materialize -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      "use strict";
      // Initiate select
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
  </body>
</html>
