<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col
            m8 offset-m2
            s10 offset-s1">
            <div class="card-panel">
              <div class="row">
                <h3>JOIN US</h3>
                <form id="join-form">
                  <div class="input-field col s12">
                    <input id="name" type="text" class="validate" v-model="name.data">
                    <label for="name" required>Name</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="department" type="text" class="validate" v-model="department.data">
                    <label for="department">Department</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="stu_number" type="text" class="validate" v-model="stu_number.data">
                    <label for="stu_number">Student Number</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="phone" type="tel" class="validate" v-model="phone.data">
                    <label for="phone">Phone</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate" v-model="email.data">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s12">
                    <label class="active">Team</label>
                    <div class="row">
                      <div class="col s4">
                        <input name="team" type="radio" id="devOps" v-model="team.data" value="devOps"/>
                        <label for="devOps">DevOps Team</label>
                      </div>
                      <div class="col s4">
                        <input name="team" type="radio" id="organizer" v-model="team.data" value="organizer"/>
                        <label for="organizer">Organizer Team</label>
                      </div>
                      <div class="col s4">
                        <input name="team" type="radio" id="publicity" v-model="team.data" value="publicity"/>
                        <label for="publicity">Publicity Team</label>
                      </div>
                      <div class="col s4">
                        <input name="team" type="radio" id="jiangyou" v-model="team.data" value="jiangyou"/>
                        <label for="jiangyou">Member Team</label>
                      </div>
                    </div>
                  </div>
                  <div class="input-field col s12">
                    <label class="active">Gender</label>
                    <div class="row">
                      <div class="col s4">
                        <input name="gender" type="radio" id="female" v-model="gender.data" value="female"/>
                        <label for="female">Female</label>
                      </div>
                      <div class="col s4">
                        <input name="gender" type="radio" id="male"  v-model="gender.data" value="male"/>
                        <label for="male">Male</label>
                      </div>
                    </div>
                  </div>
                  <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" @click.prevent="submit">
                      <i class="material-icons right">send</i>
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 清华大学技术宅网络与开源软件协会 Tsinghua University TUNA Association
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
      function inputObject() {
        return {
          data: '',
          error: '',
        };
      }
      "use strict";
      var form = new Vue({
        el: '#join-form',
        data: {
          name: inputObject(),
          department: inputObject(),
          stu_number: inputObject(),
          phone: inputObject(),
          email: inputObject(),
          gender: inputObject(),
          team: inputObject(),
        },
        methods: {
          submit: function () {
            console.log(this.$data);
          },
        }
      });
    </script>

    <!-- NOTE: jquery before materialize -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
      "use strict";
      // Initiate select
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
  </body>
</html>
